* {
    color: white;
}

div {
    background-color: rgba(0,0,0,0.5);
    width: 60%;
    margin: auto;
    padding: 5px;
}

body {

    background-image: url("../img/surfacecrane.jpg");
    font-family: 'Times New Roman', Times, serif;    
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.2em;
}

aside {
    border-style: solid;
    border-width: 1px;
    float: right;
    width: 30%;
    padding: 10px;
    margin: 36px;
}

@font-face {
    font-family: "Another Birdhouse Light";
    src: url("../fonts/Another\ Birdhouse\ Light.ttf");
}


h1, h3  {

    font-family: "Another Birdhouse Light";
}

h1 {
    font-size: 72px;
}

h3 {
    font-size: 36px;
}

#cranevideo  {
    width: 400px;
    height: 300px;
}
